# Python
__pycache__/
*.py[co]
*.egg*

# Editor temp files
*~

# Ignore dot files except those required for the project
.*
!.bumpversion.cfg
!.env
!.envrc
!.gitignore
!.gitkeep
!.readthedocs.yml

# Development artefacts
build
output
tmp
.venv

# Any local makefiles
*.mk
