# Python
__pycache__/
*.py[co]
*.egg*

# Editor temp files
*~

# Ignore dot files except those required for the project
.*
!.gitignore
!.gitkeep
!.editorconfig
{% if cookiecutter.continuous_integration == "travis" %}!.travis.yml{% endif %}
{% if cookiecutter.use_readthedocs == "y" %}!.readthedocs.yml{% endif %}

# Project artefacts
build
dist
reports
.venv

# Django runtime files
db.sqlite3

# Any local makefiles
*.mk
